
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Đăng nhập</title>
	<link href="~/Content/AdminLTE3/dist/css/style.css" rel="stylesheet" />
</head>
<body>
	<div id="root"></div>
	<script src="~/Scripts/React/lib/react.development.js"></script>
	<script src="~/Scripts/React/lib/react-dom.development.js"></script>
	<script src="~/Scripts/React/lib/browser.min.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script src="https://unpkg.com/react-content-loader@3.4.1/dist/react-content-loader.min.js"></script>
		<script type="module" src="~/Scripts/React/Login/Login1.js">
		</script>
</body>
</html>
