<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="Tìm kiếm...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
				<!-- /input-group -->
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Chức năng chung<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="/Admin/TaiKhoan/">Tài khoản</a>
					</li>
					<li>
						<a href="#">Giao ca</a>
					</li>
					<li>
						<a href="#">Chức vụ</a>
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý hồ sơ <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="HoSoNhanSu.html">Hồ sơ nhân sự</a>
					</li>
					<li>
						<a href="#">Quá trình công tác</a>
					</li>
					<li>
						<a href="#">Khen thưởng, kỉ luật</a>
					</li>
					<li>
						<a href="#">Bảo hiểm xã hội</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Chấm công <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#">Chấm công</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Theo dõi nhân sự<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#">Hợp đồng</a>
					</li>
					<li>
						<a href="#">Đi trễ, về sớm</a>
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Tính lương<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#">Bảng lương</a>
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Đánh giá<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#">Đánh giá</a>
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->