<div class="modal fade" id="ShiftModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Ca
                    </span>
                    <span class="fw-light">
                        Học
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Add_Edit_Shifts">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Mã ca học</label>
                        <div class="col-sm-12">
                            <input type="hidden" class="form-control" name="ID" id="txtID">
                            <input type="text" class="form-control" name="CodeShift" id="txtCodeShift" placeholder="Nhập mã ca học">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tên ca học</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Name" id="txtName" placeholder="Nhập tên ca học">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Mô tả</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Description" id="txtDescription" placeholder="Nhập mô tả">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Trạng thái</label>
                        <div class="col-sm-12">
                            <select name="Status" id="txtStatus">
                                <option value="0">Đang hoạt động</option>
                                <option value="1">Ngừng hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Tên phòng</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="IDRoom" id="txtDRoom" placeholder="Nhập phòng">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Số giờ</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="Period" id="txtPeriod" placeholder="Nhập số giờ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Thời gian bắt đầu</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" name="TimeBegin" id="txtTimeBegin" placeholder="Nhập thời gian bắt đầu">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right" onclick="Add_Edit()">Lưu</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    function Add_Edit() {
        debugger
        var HTML = ``;
        var data = $("#Add_Edit_Shifts").serialize();
        $.ajax({
            url: "/Shift/Save",
            type: "post",
            data: data,
            success: function (result) {
                $("#ShiftModel").modal("hide");
                HTML += `
                    <div class ="alert alert-warning">
                        <strong>Thành công!<strong> Lưu thành công.
                    </div>
                `;
                location.reload();
            }
        });
    };

    function Show_Create_Edit(type,t) {
        debugger
        $("#ShiftModel").modal("show");
        if (type == 'Add')
        {
            $("#txtCodeShift").val("");
            $("#txtName").val("");
            $("#txtDescription").val("");
            $("#txtStatus").val("");
            $("#txtIDRoom").val("");
            $("#txtPeriod").val("");
            $("#txtTimeBegin").val("");
        }
        else {
            $.ajax({
                url: "/Shift/GetShiftById?id=" + t,
                type: "post",
                dataType: "json",
                success: function (item) {
                    $("#txtCodeShift").val(item.CodeShift);
                    $("#txtName").val(item.Name);
                    $("#txtDescription").val(item.Description);
                    $("#txtStatus").val(item.Status);
                    $("#txtIDRoom").val(item.IDRoom);
                    $("#txtPeriod").val(item.Period);
                    $("#txtTimeBegin").val(item.TimeBegin);
                    $("#txtID").val(t);
                }
            });
        }

    };

</script>
