
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLTE.cshtml";
}

<div class="page-inner" ng-controller="HomeController">
	<div class="page-header">
		<ul class="breadcrumbs">
			<li class="nav-home">
				<a href="#">
					<i class="flaticon-home">Trang chủ</i>
				</a>
			</li>
			@*<li class="separator">
				<i class="flaticon-right-arrow"></i>
			</li>
			<li class="nav-item">
				<a href="#">Cấu hình hệ thống</a>
			</li>
			<li class="separator">
				<i class="flaticon-right-arrow"></i>
			</li>
			<li class="nav-item">
				<a href="#">Quản lý tài khoản</a>
			</li>*@
		</ul>
	</div>
</div>

