
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Quản lý tài khoản</h1>
	</div>
</div>
<div id="root"></div>

<script src="~/Scripts/React/lib/react.development.js"></script>
<script src="~/Scripts/React/lib/react-dom.development.js"></script>
<script src="~/Scripts/React/lib/browser.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react-content-loader@3.4.1/dist/react-content-loader.min.js"></script>
@section Myscripts{
	<script type="module" src="~/Scripts/React/Student.jsx">
	</script>
}
