<!--==========================
	Footer
  ============================-->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<img src="~/Content/Front-end/img/logo.png" alt="">
				</div>
				<div class="col-lg-3 col-sm-6">
					<h5>GIỚI THIỆU</h5>
					<a href="">Giới thiệu</a><br>
					<a href="">Tầm nhìn, Sứ mệnh & Giá trị cốt lõi</a><br>
					<a href="">Giải thưởng</a><br>
					<a href="">Tại sao nên chọn</a><br>
					<a href="">Trung tâm đào tạo</a><br><br><br><br><br>
					<h5>THAM KHẢO THÊM</h5>
					<a href="">Đăng nhập</a><br>
					<a href="">MyELT LOGIN</a><br>
					<a href="">Chương trình Anh văn hè 2019</a><br>
					<a href="">Community Network</a><br>
					<a href="">Thư viện</a><br>
				</div>
				<div class="col-lg-6 col-sm-6">
					<h5>Liên hệ</h5>
					<iframe src="" id="GoogleMaps" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
						<p>Your browser does not support iframes.</p>
					</iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong>Trần Đông and Group 1</strong>. All Rights Reserved
		</div>
	</div>
</footer>