<header id="header">
	<div class="container">

		<div id="logo" class="pull-left">
			<a href=""><img src="~/Content/Front-end/img/logo.png" alt="" title="" /></img></a>
		</div>

		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li class="menu-active"><a href="/trang-chu/">Trang chủ </a></li>
				<li class="menu-has-children">
					<a href="#about">Tổng quan</a>
					<ul>
						<li><a href="#">Tổng quan</a></li>
						<li><a href="#">Tiếng anh mẫu giáo</a></li>
						<li><a href="#">Tiếng anh thiếu nhi</a></li>
						<li><a href="#">Tiếng anh tổng quát</a></li>
						<li><a href="#">Tiếng anh giao tiếp</a></li>
						<li><a href="#">Luyện thi IELTS</a></li>
						<li><a href="#">Luyện thi TOIEC</a></li>
					</ul>
				</li>
				<li><a href="#facts">Giới thiệu</a></li>
				<li><a href="calendarlearning.html">Lịch học</a></li>
				<li class="menu-has-children">
					<a href="">Tài liệu học tập</a>
					<ul>
						<li><a href="#">Tài liệu Toiec</a></li>
						<li><a href="#">Tài liệu IELTS</a></li>
						<li><a href="#">Tài liệu B1</a></li>
						<li><a href="#">Tài liệu khác</a></li>
					</ul>
				</li>
				<li><a href="#team">Hoạt động cộng đồng</a></li>
				<li><a href="/lien-he/">Liên hệ</a></li>
				<li><a href="#contact" data-toggle="modal" data-target="#addRowModal">Đăng nhập</a></li>
			</ul>
		</nav>
	</div>
</header>