<div class="modal modal-danger fade" id="Modal_Delete">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Xác nhận xóa</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control hidden" name="ID" id="IdDelete">
				<p>Bạn có thực sự muốn xóa?&hellip;</p>
				<p>*Dữ liệu sau khi xóa<br /> sẽ không thể khôi phục!*</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-outline" data-dismiss="modal" onclick="Delete(id)">Xác nhận</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
	function ShowDelete(id) {
		debugger
		$("#IdDelete").val(id);
		$("#Modal_Delete").modal("show");
	};
	function Delete() {
		debugger
		var Id = $("#IdDelete").val();
		$.ajax({
			url: "/UserRole/Delete?id=" + Id,
			type: "post",
			dataType: "json",
			success: function (data) {
					location.reload();
			}
		})

	};
</script>