
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("../Block/_Slide.cshtml")
<main id="main">
	<!--==========================
		 About Us Section
	   ============================-->
	<section id="about">
		<div class="container">
			<div class="row about-container">
				<div class="col-lg-12 order-lg-1 order-2">
					<h2 class="title">
						TIẾNG ANH XUẤT SẮC – VỮNG CHẮC TƯƠNG LAI
						HÃY ĐỂ AT HIỆN THỰC HÓA GIẤC MƠ CỦA CON BẠN
					</h2>
					<div class="row">
						<div class="col-lg-4 col-md-6 wow fadeInUp portfolio-item" data-wow-delay="0.2s">
							<div class="box">
								<div class="imgBox">
									<img src="~/Content/Front-end/img/1.jpg" alt="">
								</div>
								<div class="details">
									<div class="content">
										<h4 class="title"><a href="">Tiếng Anh Mẫu Giáo (4 -6 tuổi)</a></h4>
										<p class="description">
											Chương trình áp dụng mô hình học đa trí thông minh để khơi gợi niềm yêu
											thích
											với Anh ngữ, tạo nền tảng tiếng Anh vững chắc, hoàn thiện kỹ năng và nhận diện kiểu học tập của
											trẻ.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 wow fadeInUp portfolio-item" data-wow-delay="0.2s">
							<div class="box">
								<div class="imgBox">
									<img src="~/Content/Front-end/img/2.jpg" alt="">
								</div>
								<div class="details">
									<div class="content">
										<h4 class="title"><a href="">Tiếng Anh Thiếu nhi (7 – 11 tuổi)</a></h4>
										<p class="description">
											Mô Hình Học Tiếng Anh Đa Trí Thông Minh giúp trẻ khai thác tiềm năng, vững
											vàng
											tiếng Anh và hoàn thiện kỹ năng mềm.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 wow fadeInUp portfolio-item" data-wow-delay="0.6s">
							<div class="box">
								<div class="imgBox">
									<img src="~/Content/Front-end/img/3.jpg" alt="">
								</div>
								<div class="details">
									<div class="content">
										<h4 class="title"><a href="">Tiếng Anh Thiếu Niên (12 – 16 tuổi)</a></h4>
										<p class="description">
											DMô Hình Học Tiếng Anh Đa Trí Thông Minh giúp trẻ thành thạo tiếng Anh,
											hoàn
											thiện kỹ năng mềm để tạo nền tảng định hướng nghề nghiệp vững chắc.
										</p>
									</div>

								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 wow fadeInUp portfolio-item" data-wow-delay="0.2s">
							<div class="box">
								<div class="imgBox">
									<img src="~/Content/Front-end/img/4.jpg" alt="">
								</div>
								<div class="details">
									<div class="content">
										<h4 class="title"><a href="">Tiếng Anh Người lớn</a></h4>
										<p class="description">
											Giao tiếp và Luyện thi từ cơ bản đến chuyên sâu, đồng hành cùng bạn trong
											hành
											trình học tập, làm việc, du lịch…
										</p>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 wow fadeInUp portfolio-item" data-wow-delay="0.4s">
							<div class="box">
								<div class="imgBox">
									<img src="~/Content/Front-end/img/5.jpg" alt="">
								</div>
								<div class="details">
									<div class="content">
										<h4 class="title"><a href="">Tiếng Anh Doanh Nghiệp</a></h4>
										<p class="description">
											Thiết kế riêng biệt và phù hợp với yêu cầu của từng khách hàng. Nâng cao kỹ
											năng Tiếng Anh cho nguồn nhân lực ngay chính tại doanh nghiệp, giúp TIẾT KIỆM THỜI GIAN – CHI
											PHÍ
											–
											ÁP DỤNG NGAY TRONG CÔNG VIỆC!
										</p>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 wow fadeInUp portfolio-item" data-wow-delay="0.6s">
							<div class="box">
								<div class="imgBox">
									<img src="~/Content/Front-end/img/6.jpg" alt="">
								</div>

								<div class="details">
									<div class="content">
										<h4 class="title"><a href="">Tiếng Anh liên kết trường học</a></h4>
										<p class="description">
											Chương trình Tiếng Anh liên kết của AMA với các trường Tiểu học, THCS và
											THPT
											giúp các em học sinh có cơ hội tiếp cận nền giáo dục chuẩn Mỹ và sẵn sàng chinh phục kỳ thi Anh
											ngữ Quốc tế Starters, Movers, Flyers, KET, PET
										</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section><!-- #about -->
	<!--==========================
	  Facts Section
	============================-->
	<section id="facts">
		<div class="container wow fadeIn">
			<div class="section-header">
				<h3 class="section-title">Tại sao nên học tiếng Anh và 6 kỹ năng thế kỷ 21 cùng AT</h3>
				<p class="section-description">
					AT Vietnam là một công ty hoạt động trong lĩnh vực giáo dục và đào tạo tiếng
					Anh có vốn sở hữu nước ngoài, chuyên cung cấp các chương trình học và dịch vụ bao gồm:
					<br> Chương trình giảng dạy Anh ngữ dành cho trẻ em và người lớn
					<br> Chương trình luyện thi các kỳ thi quốc tế
					<br> Chương trình đào tạo giáo viên
					<br> Đào tạo doanh nghiệp
			</div>
			<div class="row counters">

				<div class="col-lg-3 col-6 text-center bgd-blue">
					<div class="content-fact">
						<h4>
							<span data-toggle="counter-up">50</span>
						</h4>

						<p>Giáo viên bản ngữ</p>
					</div>
				</div>

				<div class="col-lg-3 col-6 text-center bgd-pink">
					<div class="content-fact">
						<h4>
							<span data-toggle="counter-up">7</span>
						</h4>
						<p>Năm kinh nghiệm và chuyên môn</p>
					</div>
				</div>

				<div class="col-lg-3 col-6 text-center bgd-yellow">
					<div class="content-fact">
						<h4>
							<span data-toggle="counter-up">5</span>
						</h4>
						<p>Trung tâm tại 3 thành phố</p>
					</div>
				</div>

				<div class="col-lg-3 col-6 text-center bgd-orange">
					<div class="content-fact">
						<h4>
							<span data-toggle="counter-up">13000</span>
						</h4>
						<p>Học viên đã học tại AT</p>
					</div>
				</div>

			</div>

		</div>
	</section><!-- #facts -->
	<!--==========================
	  Services Section
	============================-->
	<section id="services">
		<div class="container wow fadeIn">
			<div class="section-header">
				<h3 class="section-title">Tin tức</h3>
				<p class="section-description"></p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="box">
						<div class="icon"><img src="~/Content/Front-end/img/1.jpg" alt=""></div>
						<div class="content-services">
							<h4 class="title"><a href="">NẮM BẮT THỜI KỲ “VÀNG” CHO CON PHÁT TRIỂN TƯ DUY SÁNG TẠO</a></h4>
							<span> <i class="fa fa-calendar"></i> 22/04/2019</span>
							<p class="description">
								Não bộ của trẻ trong 10 năm đầu đời hoạt động tích cực gấp đôi người trưởng
								thành.
								Đây chính là giai đoạn “vàng” để cha mẹ khuyến khích con khám phá thế giới xung quanh và phát triển tư
								duy sáng tạo.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
					<div class="box">
						<div class="icon"><img src="~/Content/Front-end/img/1.jpg" alt=""></div>
						<div class="content-services">
							<h4 class="title">
								<a href="">
									GIẢI TRÍ ĐỂ TRƯỞNG THÀNH TRONG NGÀY ĐIỆN ẢNH TẠI TRẠI HÈ “SUMMER OVER THE
									MOON”
								</a>
							</h4>
							<span> <i class="fa fa-calendar"></i> 22/04/2019</span>
							<p class="description">
								Ba mẹ có biết, những bộ phim hay, đa dạng về thể loại và phù hợp với lứa tuổi
								không
								chỉ mang lại những tiếng cười vui nhộn, mà còn giúp trẻ cảm thấy thoải mái....
							</p>

						</div>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="box">
						<div class="icon"><img src="~/Content/Front-end/img/1.jpg" alt=""></div>
						<div class="content-services">
							<h4 class="title"><a href="">BA MẸ CÓ BIẾT 5 LỢI ÍCH KHI TRẺ ĐƯỢC TIẾP CẬN SỚM VỚI TOÁN?</a></h4>
							<span> <i class="fa fa-calendar"></i> 22/04/2019</span>
							<p class="description">
								Khoa học đã chứng minh, trẻ từ 6 tháng tuổi đã có thể nhận biết các con số dù
								chưa
								biết đếm...
							</p>

						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="box">
						<div class="icon"><img src="~/Content/Front-end/img/1.jpg" alt=""></div>
						<div class="content-services">
							<h4 class="title"><a href="">“NGÔI NHÀ ILA” - NƠI KẾT NỐI VÀ NUÔI DƯỠNG TÌNH CẢM GIA ĐÌNH</a></h4>
							<span> <i class="fa fa-calendar"></i> 22/04/2019</span>
							<p class="description">
								Chúng ta vẫn thường nhắc nhau về tình anh em, một thứ tình cảm ấm áp mà trong rất
								nhiều hoàn cảnh đã tiếp thêm cho chúng ta sức mạnh và niềm tin để đạt được những mục tiêu trong cuộc
								sống...
							</p>

						</div>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
					<div class="box">
						<div class="icon"><img src="~/Content/Front-end/img/1.jpg" alt=""></div>
						<div class="content-services">
							<h4 class="title">
								<a href="">
									CEO ILA TRẦN XUÂN DZU: “ĐẦU TƯ VÀO CHƯƠNG TRÌNH HỌC LÀ CỐT LÕI CỦA MỘT TỔ
									CHỨC GIÁO DỤC”
								</a>
							</h4>
							<span> <i class="fa fa-calendar"></i> 22/04/2019</span>
							<p class="description">
								Thành lập vào năm 2000 với mô hình “100% giáo viên người bản ngữ” đầu tiên tại
								Việt
								Nam.
							</p>

						</div>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="box">
						<div class="icon"><img src="~/Content/Front-end/img/1.jpg" alt=""></div>
						<div class="content-services">
							<h4 class="title">
								<a href="">
									TRẠI HÈ ANH NGỮ ĐƯỢC PHỤ HUYNH VÀ HỌC VIÊN MONG ĐỢI ĐÃ CHÍNH THỨC TRỞ
									LẠI
								</a>
							</h4>
							<span> <i class="fa fa-calendar"></i> 22/04/2019</span>
							<p class="description">
								Là một trong những chương trình uy tín của ILA được phụ huynh và học viên tin
								tưởng
								trong nhiều năm
							</p>

						</div>

					</div>
				</div>
			</div>


		</div>
	</section><!-- #services -->
</main>	

@RenderPage("../Block/_Footer.cshtml")